@{
    // Layout = "_EmployeeLayout";
    ViewData["Title"] = "Employee Page";
}

<div class="emp">
<div class="mt-5 text-center p-5 d-flex justify-content-center align-items-center ">
    <h2>Welcome to Employee Page</h2>

</div>

</div>